<div class="container" ng-controller="TodoCreateController">
    <h1>Opprett ny oppgave</h1>
    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputDescription">Beskrivelse:</label>
            <div class="controls">
                <input type="text" id="inputDescription" ng-model="todo.description" placeholder="Beskrivelse" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCompleted">Utført:</label>
            <div class="controls">
                <input type="checkbox" id="inputCompleted" ng-model="todo.completed"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="createNewTodo()" class="btn btn-small btn-primary">Lagre</a>
            </div>
        </div>
    </form>
</div>
